{% load static %}
<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Registration</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="{% static 'css/production.css' %}">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Cabin:400,700|Playfair+Display:900" rel="stylesheet">

        <!-- favicon.ico. Place these in the root directory. -->
        <link rel="shortcut icon" href="favicon.ico">

    </head>

    <body>

    <div class="container">
    <div class="grid-row">

                <!-- Header -->
        <header class="header full-width">



            <!-- Desktop header -->
            <!-- Desktop logo -->
            <h1 class="hide-on-mobile logo-container absolute block full-width align--center"><img class="logo--desktop" src="{% static 'img/ABC.jpg' %}" alt="Viking Tours" style="width:200px;height:300px; title="Viking Tours"></h1>


        </header>

        <!-- Hero image -->
        <div class="hero-container full-width show-on-mobile pt1 pl2 pr2">
            <div class="hero full-width full-height" style="background:rgba(0,0,0,0) url({% static 'img/4.jpg' %}) no-repeat scroll center center/cover"></div>
        </div>
        <div class="hide-on-mobile hero" style="background:rgba(0,0,0,0) url({% static 'img/reg1.jpg' %}) no-repeat scroll center center/cover"></div>

        <!-- Body -->
        <div class="body full-width pt1 pr2 pb2 pl2">
            <!-- Navigation -->
            <nav class="navigation border--bottom pt1">
                <ul class="no-bullets list--inline pb1 bold">
                    <li class="small mr2"><a class="link link--text" href="/">Home</a></li>

                </ul>
            </nav>
            <!-- Page Content -->

            <main class="content pt2 pb2">
                <h3>User Login</h3>
                <p>We need the following information from you for further procedures, If you are new to this site please click <a href="{% url 'bank:register' %}">Here</a>to register</p>
                <form method="POST">
                {% csrf_token %}
                    {{ form.as_p }}



            <input type="submit"  class="btn btn-success">
                    <br>


<!--                    </div>-->
<!--                         <a class="btn btn&#45;&#45;default float&#45;&#45;right"  href="{% url 'bank:login' %}">Submit</a> <br>-->
<!--                    </div>-->
</form>
            </main>
                        <!-- Footer -->
            <footer class="border--top pt1 pb1">
                <p class="text--gray small mb0">&copy; Copyright ABC pvt ltd.   </p>
            </footer>
        </div><!-- end Body -->

    </div>
    </div>

    </body>
</html>